@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>** WHICH? Fill in the blank</h2>
<div>
    <div class="question">A fill in the blank question goes ________ here.</div>
    <div>
        <label for="">Answer:</label> <input type="text">
    </div>

    <div class="question">A fill in the blank question goes ________ here.</div>
    <div>
        <label for="cars">Pick:</label>

        <select name="" id="">
            <option value="one">One</option>
            <option value="two">Two</option>
            <option value="three">Three</option>
            <option value="four">Four</option>
        </select>
    </div>
</div>
