@using (Html.BeginForm("LogInAttempt", "Home", FormMethod.Post))
{
    <form id="loginForm" method="post" asp-controller="Home" asp-action="LoginAttempt">
        <p>@ViewBag.Error</p>
        <p><label>Username:</label> <input name="Username" type="text">  </p>
        <p><label>Password:</label> <input name="Password" type="text">  </p>
        <p class="submit"><input type="submit" value="LogIn" />
    </form>

}