@using (Html.BeginForm("LogInAttempt", "Home", FormMethod.Post))
{
        <p>@ViewBag.Error</p>
        <p><label>Username:</label> <input name="Username" type="text">  </p>
        <p><label>Password:</label> <input name="Password" type="text">  </p>
        <p class="submit"><input type="submit" value="Log In" /></p>
}