@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

<h2>Multiple choice radio</h2>

<div>
    <div class="question">An example multiple choice question with radio buttons goes here.</div>
    <div>
        <input type="radio" name="" id="" value="A" />
        <label for="">A) Answer A</label>
    </div>
    <div>
        <input type="radio" name="" id="" value="B" />
        <label for="">A) Answer B</label>
    </div>
    <div>
        <input type="radio" name="" id="" value="C" />
        <label for="">A) Answer C</label>
    </div>
    <div>
        <input type="radio" name="" id="" value="D" />
        <label for="">A) Answer D</label>
    </div>
</div>

