@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Displaying all our possible quiz question types.</h1>
    <p>@ViewData["Username"]</p>
    <partial name="_MultipleChoiceRadio">
    <partial name="_MultipleChoiceCheck">
    <partial name="_ShortAnswer">
    <partial name="_FillInBlank">

</div>
