@{
    ViewData["Title"] = "Quiz";
    Random rng;
}

<div class="text-center">
    <h1 class="display-4">Quiz</h1>
    <p>Enter quiz ID.</p>
    <p>Quiz question ??/??.</p>
    <p>Show quiz question(s). // Receive the first quiz quesion type, display it acccordingly. Go to next quiz question.</p>
    <p>Last question, submit. Submit quiz.</p>
    <p>See quiz grades.</p>
</div>
