@model Site.Models.COURSE_QUIZ
@{
    ViewBag.Title = "Assign Quiz to Course";
}



@{
    // checks for a model
    if (Model != null)
    {
        <h2>Assign Quiz to Course</h2>
        <h3 class="warning">Warning. This step is not reversible from within the web application. In order to delete this relation and any data connected you will need a database administrator!</h3>

        using (Html.BeginForm("Index", "ModifyCourseQuiz", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.QuizSelected, Model.AllQuizOptions, "-- Select --")
                </div>
                <div class="col-md-10">

                    @Html.DropDownListFor(model => model.CourseSelected, Model.AllCourseOptions, "-- Select --")
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="" />
                </div>
            </div>
        }
    }
    else
    {
        <h2> @ViewBag.NotPermitted</h2>
    }
}
