@{ ViewData["Title"] = "Account"; }

<h2>Account</h2>

<h3>Change Password</h3>
@using (Html.BeginForm("ChangePassword", "Home", FormMethod.Post))
{
    <form id="PasswordChange" method="post">
        <p>@ViewBag.PasswordChange</p>
        <p><label>Current Password:</label> <input name="CurrentPassword" type="password"></p>
        <p><label>New Password:</label> <input name="NewPassword" type="text"></p>
        <p><label>Confirm New Password:</label><input name="ConfirmNewPassword" type="text"></p>
        <p class="submit"><input type="submit" value="Change Password" />
    </form>
}

@if (Model)
{
    <h3>Additional Account Features:</h3>
    <ul>
        <li>@Html.ActionLink("Modify", "Modify", "Home")</li>
    </ul>
}