@using Site.Models
@model IEnumerable<LOGIN>


@{ ViewData["Title"] = "LogIn"; }
<h1>@ViewData["Title"]</h1>
<b>ID:</b>    @ViewBag.ID
<br />
<b>Name:</b>  @ViewBag.Name
<br />


<p>Use this page to log in.</p>




@Html.Partial("_AccountLogin")