@using System.Globalization;
@using Site.Models
@model IEnumerable<QUIZ>
@{
    ViewData["Title"] = "ModifyQuizzes";
}

<h2>Quizzes</h2>
<div>
    <ul>
        <li>@Html.ActionLink("Add Quiz", "Create", "ModifyQuizzes")</li>
        <li>@Html.ActionLink("Delete Quiz", "Delete", "ModifyQuizzes")</li>
        <li>@Html.ActionLink("Update Quiz", "Edit", "ModifyQuizzes")</li>
    </ul>
</div>