@{
    ViewData["Title"] = "Quizzes";
}

<div class="text-center">
    <h2>Quizzes</h2>
        @{
            // From our model we get a 2darray
            string[,] quiz2dArray = Model as string[,];

            // We parse this array and for each row in it we ask for the quiz partial with the data from that one row.
            int x = quiz2dArray.GetLength(0);
            for (int i = 0; i <= quiz2dArray.GetLength(0) - 1 && quiz2dArray[i,0] != null; i ++)
            {
                string[] quizArray = { quiz2dArray[i, 0], quiz2dArray[i, 1], quiz2dArray[i,2] };
                @Html.Partial("_Quiz", quizArray);
            }
        }
</div>
